.producto {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.producto > div {
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.producto > img {
    width: 100%;

   
    object-fit: cover;
}

.producto .ver-mas {
    text-decoration: none;
    background-color:#FBCCD2;
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
}

