* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.react-table {
  width: 100%;
  overflow: auto;
  border-radius: 5px;
}

.react-table th,
.react-table td {
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

/* NAVBAR DEL ADM */

.navbar-adm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background-color: rgb(220, 217, 217);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-username {
  margin: 0;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar-link:hover {
  color: #000;
}

.navbar-link.active {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.navbar-logout {
  color: #333;
  background-color: rgb(220, 217, 217);
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.navbar-logout:hover {
  color: #000;
}

/* LISTA DE CLIENTES */

.tableDivContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  border: 1px solid #000000;
  margin: 1rem;
}

.tableContainer th {
  background-color: #dcd9d9;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableContainer td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableContainerSinPaginacion {
  border: 1px solid #000000;
  margin: 1rem;
}

.tableContainerSinPaginacion th {
  background-color: #dcd9d9;
  border: 1px solid #000000;
  padding: 8px 8px;
  text-align: left;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableContainerSinPaginacion td {
  border: 1px solid #000000;
  padding: 0px 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableContainerSinPaginacion tbody tr:nth-child(even) {
  background-color: #dcd9d9;
}

/* LISTA DE PEDIDOS */

.tableDivContainerPedidos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainerPedidos {
  border: 1px solid #000000;
  margin: 1rem;
}

.tableContainerPedidos th {
  background-color: #dcd9d9;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailsContainer{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
 
}

.contenedor-btns-estados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-top: 2rem;
}

.contenerdor-btns-pdfs-pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-top: 2rem;
}

.boton-estados{
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
}

.tableContainerPedidos td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* FILTRO GLOBAL */

.globalFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.globalFilter-input {
  margin: 1rem;
  border-radius: 5px;
  padding: 0.2rem;
  border: 1px solid black;
}

.search-icon {
  align-items: center;
  background-color: #dcd9d9;
  border-radius: 5px;
  padding: 0.2rem;
  border: 1px solid black;
}

/* PAGINACION BOTONES */

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: 5px;
}

.paginacion span {
  margin: 0 10px;
}

.paginacion button {
  background-color: #dcd9d9;
  color: #000000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}
.paginacion button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

/* BOTON DE ELIMINAR EN CLIENTES */

.botonEliminar {
  background-color: #dcd9d9;
  color: #000000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: normal;
}

/* BOTON DE EDITAR CLIENTE */

.botonEditar {
  background-color: #dcd9d9;
  color: #000000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: normal;
}

.botonGuardar {
  background-color: #dcd9d9;
  color: #000000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

/* BOTON DE NUEVO  */

#botonNuevoCliente {
  background-color: #dcd9d9;
  color: #000000;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
  margin: 1rem;
}

/* BOTON NUEVO PROVEEDOR */

#boton-nuevo-proveedor {
  cursor: pointer;
  color: #000000;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #dcd9d9;
}

/* BOTON CERRAR / AGREGAR */

#cerrar,
#agregar {
  cursor: pointer;
  color: #000000;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #dcd9d9;
}

/* CARGAR PEDIDO */

.contenedor-articulos {
  display: flex;
  margin: 1rem;
  border: 1px solid #000;
}

.contenedor-tabla-grilla {
  display: flex;
  max-height: 400px;
  overflow-y: auto;
  margin: 1rem;
  border: 1px solid #000;
}

.table-cargarPedido-contenedor {
  border: 1px solid #000000;
}

.boton-pedidor {
  margin: 1rem;
  padding: 0.5rem;
  width: 120px;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: white;
}

.pedidor-seleccionado {
  background-color: #dcd9d9;
}

.stock-label {
  font-weight: bold;
}

.confirmar {
  height: 100%;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #dcd9d9;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: auto;
}

.confirmarCargarPedido {
  height: 4rem;
  width: 10rem;
  background-color: #dcd9d9;
  color: #000000;
  font-weight: bold;
  border: 1px solid #000;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 2rem;
}

.contenedor-resumen-pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-resumenPedido {
  text-align: left;
  background-color: #dcd9d9;
  width: 13rem;
  padding: 0.7rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 5rem 1rem 2rem 1rem;
}

.cargar-pedido-boton {
  margin: 1rem;
  padding: 0.5rem;
  width: 120px;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #dcd9d9;
}

.stock-grilla {
  font-weight: lighter;
}

/* PRODUCTOS */

.table-productos-contenedor {
  display: flex;
  margin-top: 1rem;
}

.table-productos {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 2rem;
  padding: 2rem;
}

.table-header-productos {
  border: 1px solid #000000;
  background-color: #dcd9d9;
  font-weight: bold;
}

.table-header-articulos {
  padding: 0.3rem;
  font-size: 14px;
}

.table-cell-productos {
  border: 1px solid #010101;
  width: 86px;
  padding: 0.1rem 0.7rem 0.1rem 0.3rem
}

.table-cell-productos.selected {
  background-color: #dcd9d9;
}

.selected-product {
  background-color: #dcd9d9;
}

.navPantallasContainer .botonNav.selectedNavBar {
  background-color: #acabab;
  border-radius: 5px;
}

.selected-row {
  background-color: #dcd9d9;
}

.table-container {
  display: flex;
  align-items: flex-start;
}

.table-width-container {
  min-width: 450px;
}

.agregarProducto {
  height: 4rem;
  background-color: #dcd9d9;
  color: #000000;
  font-weight: bold;
  border: 1px solid #000;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}

.agregar-producto-grilla {
  height: 4rem;
  background-color: #dcd9d9;
  color: #000000;
  font-weight: bold;
  border: 1px solid #000;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}

.agregarArticulo {
  height: 4rem;
  background-color: #dcd9d9;
  color: #000000;
  font-weight: bold;
  border: 1px solid #000;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

#btnDescargarStock {
  height: 4rem;
  background-color: #dcd9d9;
  color: #000000;
  font-weight: bold;
  border: 1px solid #000;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
}

.btnRemito {
  height: 4rem;
  background-color: #dcd9d9 !important;
  color: #000000 !important;
  font-weight: bold !important;
  border: 1px solid #000 !important;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.scrollable-list-container {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.abajoDerecha {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.input-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.input-tallecolor-container {
  display: flex;
  align-items: center;
}

.boton-talle {
  color: #000000;
  margin-top: 0rem;
}

#boton-mas {
  background-color: #dcd9d9;
  color: #000000;
  font-weight: bold;
  border: 1px solid #000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  float: left;
}

#boton-mas-cat {
  background-color: #dcd9d9;
  color: #000000;
  font-weight: bold;
  border: 1px solid #000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

#boton-menos {
  background-color: #dcd9d9;
  color: #000000;
  font-weight: bold;
  border: 1px solid #000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.table-productos-detalle {
  border: 1px solid #000000;
  margin: 1rem;
}

.table-grilla {
  width: auto;
  height: 10px;
  margin-top: 2rem;
  margin-left: 1rem;
  border-collapse: collapse;
}

.table-grilla th,
.table-grilla td {
  border: 1px solid #000000;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  text-align: center;
}


#articulo-grilla-elegido {
  background-color: black;
  font-weight: bold;
  color: white
}

.articulo-grilla {
  background-color: black;
  color:white;
}


#listado-articulo-grilla {
  background-color: black;
  color: white;
}

.table-grilla-input {
  position: relative;
}

.table-grilla-input input {
  width: 40px;
  text-align: center;
}

.grillas-container-resumen {
  display: flex;
  flex-wrap: wrap;
  
}


.table-grilla-resumen {
  margin: 1.3rem;
  border-collapse: collapse;
}

.table-grilla-resumen th {
  border: 1px solid #000;
  padding: 4px;
  text-align: center;
  font-weight: normal;
}

.table-grilla-resumen td {
  border: 1px solid #000;
  padding: 4px;
  text-align: center;
  font-weight: normal;
}

.grilla-NoDatos {
  justify-content: center;
  margin: 5rem;
}

.talles-agregados {
  display: inline-block;
  list-style: none;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.2rem;
  background-color: #dcd9d9;
}

.boton-eliminar-agregarProducto {
  background-color: #dcd9d9;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.detailsContainerHistorialPedidos{
  display: grid;
  grid-template-areas:
    "table-cargarPedido-contenedor cancelado pedido enviado pagado completado";
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(6, 100px);
  
}

.table-cargarPedido-contenedor{
  grid-area: table-cargarPedido-contenedor;
}

.cancelado{
  grid-area: cancelado;
}

.pedido{
  grid-area: pedido;
}

.enviado{
  grid-area: enviado;
}

.pagado{
  grid-area: pagado;
}

.completado{
  grid-area: completado;
}

.selectedEstado {
  background: #dcd9d9;
}

/* LOGIN */

.contenedor-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  height: 100vh;
}

.iniciar-sesion-titulo {
  background-color: #dcd9d9;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 330px;
  text-align: center;
}

.usuario {
  margin-top: 1rem;
}

.usuario,
.password {
  border: 1px solid #000;
  border-radius: 0.5rem;
  text-align: center;
}

.usuario,
.password {
  width: 330px;
}

.usuario-input {
  margin: 0.5rem;
  padding: 0.5rem;
  margin-left: 2rem;
}

.password-input {
  margin: 0.5rem;
  padding: 0.5rem;
}

.iniciar-sesion-boton {
  background-color: #dcd9d9;
  border: 1px solid #000;
  border-radius: 0.5rem;
  text-align: center;
  width: 120px;
}

.mantenimiento-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.mantenimiento-content {
  text-align: center;
}

.imagenesCargadas {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}


/* Loading.css */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.loading-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  pointer-events: none; /* Evita la interacción con elementos debajo */
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Borde del spinner */
  border-top: 4px solid #ffffff; /* Borde superior del spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Animación de rotación */
}

.loading-text {
  margin-top: 10px;
  color: #ffffff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.editarPedidoContainerOriginalEdit {
  display: flex;
}

.contenedor-tabla-grilla-editar-pedido {
  overflow-y: auto;
  margin: 1rem;
  margin-left: 1%;
  margin-right: 0;
  border: 1px solid #000;
  width: 48.5%;
  padding-bottom: 1rem;
}

.display-flex {
  display: flex;
}

.pedido-edit-titulo {
  text-align: center;
  background-color: #dcd9d9;
  width: 20%;
  padding: 0.7rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 40%;
}

.contenedor-tabla-grilla-editar-pedido-carga {
  display: flex;
  max-height: 400px;
  width: 98%;
  overflow-y: auto;
  margin: 1rem;
  margin-left: 1%;
  border: 1px solid #000;
}

.fixedCuentaCorriente {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 170px;
  width: 100%;
  top: 4.5rem;
  left: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  z-index: 1049;
  background-color: white;
}

.estado-cancelado {
  color: red;
}

.estado-completado {
  color: green;
}

.estado-normal {
  color: black;
}

.no-spinner {
  appearance: textfield;          /* estándar */
  -webkit-appearance: none;       /* Chrome, Safari, Opera */
  -moz-appearance: textfield;     /* Firefox */
  margin: 0;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}