.margenes {
  margin-left: 5rem;
  margin-right: 5rem;
}

.carritoCompras {
  background-color: #FBCCD2;
  color: white;
  padding: 0.5rem;
  width: 10rem;
  height: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-left: 1.5rem;
}

.carritoContainer {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 20px;

}

.encabezadoCarrito {
    background-color: #FBCCD2;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .encabezadoCarrito th {
    padding: 10px;
  }


  .artContainer td {
    padding: 10px;
    text-align: center; 
    border-bottom: 1px solid #ddd;
  }

  .delete-icon{
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente en el contenedor flex */
    align-items: center; /* Centra verticalmente en el contenedor flex */
    cursor: pointer; 
    
  }

  .delete-icon img{
    padding: 10px;
    
  }

  .button-container {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly; 
    margin-top: 8rem; 
    margin-bottom: 5rem;
    
  }

  .button-container p {
        font-size: 1rem;
        font-weight: bold;
        background-color: #FBCCD2;
        color: white;
        border-radius: 0.5rem;
        padding: 10px 15px;
  }

  .linkForm {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: #FBCCD2;
    color: white;
    border-radius: 0.5rem;
    padding: 10px 15px;
}

  button {
    background-color: #FBCCD2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #f7b0ba;
  }

  .carritoVacioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carritoVacio {
    background-color: #f7b0ba;
    color: white;
    width: 17rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }