.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBCCD2;
    padding: 0.5rem;
    
}

.contactanos {
    color: white;
    margin: 0.3rem;    
    
}

.tel {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.3rem;
}

.mail {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.3rem;
}

.dir {
    display: flex;
    gap: 1rem;
}

.footerNatubelTitulo {
    color: white;
    font-size: 4rem;
}

.footerNovedades {
    color: white;
    width: 15rem;
    font-size: 1rem;
    text-align: center;
   
}

.redesFace {
    margin-right: 1rem;
    width: 2rem;
}

.redesInsta {
    width: 2rem;
}