.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBCCD2;
    padding: 0.5rem;
    margin-top: 250px;
    
}

.contactanos {
    color: white;
    margin: 0.3rem;    
    
}

.tel {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.3rem;
}

.mail {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.3rem;
}

.dir {
    display: flex;
    gap: 1rem;
}

.footerNatubelTitulo {
    color: white;
    font-size: 3rem;
    margin-bottom: 0;
}

.footerNovedades {
    color: white;
    width: 15rem;
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;
}

.redesFace {
    margin-right: 1rem;
    width: 2rem;
}

.redesInsta {
    width: 2rem;
}

.copyrigth {
    font-size: 0.6rem;
    text-align: center;
    padding: 0.2rem;
    
}

@media (max-width: 768px) {
    .footerNatubel {
        display: none;
    }
}