* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.react-table {
  width: 100%;
  overflow: auto;
  border-radius: 5px;

}

.react-table th, .react-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  
}

/* NAVBAR DEL ADM */
.nav {
  border: 1px solid black;
  margin: 1rem;
  background-color: #F0F0F0;
  border-radius: 5px;
}

.navContainer {
    padding: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    
}
.botonNav {
  margin-right: 2rem;
  
}
.botonNav:hover { 
  background-color: #FBCCD2; 
  border-radius: 5px;
}

/* LISTA DE CLIENTES */

.tableDivContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  border: 1px solid #000000;
  margin: 1rem;
}

.tableContainer th {
  background-color: #FBCCD2;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  max-width: 200px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  
}

.tableContainer td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  max-width: 200px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  
}

/* LISTA DE PEDIDOS */

.tableDivContainerPedidos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainerPedidos {
  border: 1px solid #000000;
  margin: 1rem;
}

.tableContainerPedidos th {
  background-color: #FBCCD2;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  max-width: 200px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  
}

.tableContainerPedidos td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  max-width: 200px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  
}

/* FILTRO GLOBAL */

.globalFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.globalFilter-input{
  margin: 1rem;
  border-radius: 5px;
  padding: 0.2rem;
  border: 1px solid black;

}

.search-icon {
  align-items: center;
  background-color: #FBCCD2;
  border-radius: 5px;
  padding: 0.2rem;
  border: 1px solid black;
}

/* PAGINACION BOTONES */

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: 5px;
}

.paginacion span {
  margin: 0 10px; 
}

.paginacion button {
  background-color: #FBCCD2; 
  color: #000000; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; 
}
.paginacion button:disabled {
  background-color: #F0F0F0; 
  cursor: not-allowed;
}

/* BOTON DE ELIMINAR EN CLIENTES */

.botonEliminar {
  background-color: #FBCCD2; 
  color: #000000; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; 
  font-weight: normal;
}

/* BOTON DE EDITAR CLIENTE */

.botonEditar {
  background-color: #FBCCD2; 
  color: #000000; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; 
  font-weight: normal;
}

.botonGuardar {
  background-color: #FBCCD2; 
  color: #000000; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; 
}

  /* BOTON DE NUEVO  */

  #botonNuevoCliente {
    background-color: #FBCCD2; 
    color: #000000; 
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    margin: 1rem; 

  }

  /* BOTON NUEVO PROVEEDOR */

  #boton-nuevo-proveedor{
    cursor: pointer;
    color: #000000;
    margin: 1rem; 
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color:#FBCCD2;
  }
  
  /* BOTON CERRAR / AGREGAR */
   
  #cerrar, #agregar  {
    cursor: pointer;
    color: #000000;
    margin: 1rem; 
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color:#FBCCD2;
  }

  /* CARGAR PEDIDO */

.contenedor-cargar-pedido{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  
}

.contenedor-principal{
  display: flex;
  margin: 1rem;
  border: 1px solid #000;
 
}

.table-cargarPedido-contenedor {
  margin: 1rem;
  border: 1px solid #000;

}

.boton-pedidor {
  margin: 1rem;
  padding: 0.5rem;
  width: 120px;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color:#F0F0F0;
  
}

.pedidor-seleccionado {
  background-color:#FBCCD2;
}

.confirmar {
  margin: 2rem 1rem 1rem 1rem;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color:#FBCCD2;
}

.titulo-resumenPedido {
  text-align: left;
  background-color: #F0F0F0;
  width: 13rem;
  padding: 0.7rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 1rem;
}

.cargar-pedido-boton{

  padding: 0.5rem;
  width: 120px;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color:#FBCCD2;
}

.stock-grilla {
  font-weight: lighter;
  
}

  /* PRODUCTOS */

.table-productos-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.table-productos {
  border: 1px solid #000000;
  border-collapse: collapse;
  width: 10px;
  margin: 5rem 1rem 1rem 1rem;

  
}

.table-header-productos {
  background-color: #FBCCD2;
  font-weight: bold;
  padding: 1rem;
  
  
}

.table-header-productos th{
  padding: 0.5rem;
  
}
.table-cell-productos {
  border: 1px solid #010101;
  padding: 4px;
  cursor: pointer;

}

/* Opcional: Estilo de hover para resaltar las filas */
.table-cell-productos:hover {
  background-color: #F0F0F0;
}

.agregarProducto{
  height: 4rem;
  background-color: #FBCCD2; 
  color: #000000; 
  font-weight: bold;
  border: 1px solid #000;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  
}

.agregar-producto-grilla {
  height: 4rem;
  background-color: #FBCCD2; 
  color: #000000; 
  font-weight: bold;
  border: 1px solid #000;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  
}

.abajoDerecha {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.contenedor-botones{
  text-align: center;
  
}

.input-tallecolor-container {
  display: flex;
  align-items: center;
}

.boton-talle{
  color: #000000; 
  margin-top: 3rem;

}

#boton-mas{
  background-color: #FBCCD2; 
  color: #000000; 
  font-weight: bold;
  border: 1px solid #000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  float: left;
}

#boton-menos{
  background-color: #F0F0F0; 
  color: #000000; 
  font-weight: bold;
  border: 1px solid #000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}


.table-productos-detalle {
  border: 1px solid #000000;
  margin: 1rem;
  
}

.table-grilla {
  width: 100%;
  margin: 1rem;
  border-collapse: collapse;
  
}

.table-grilla th, .table-grilla td {
  border: 1px solid #000000;
  padding: 4px;
  text-align: center;
  font-weight: normal;
  
}

.table-grilla th {
  background-color: rgb(255, 255, 255);
  font-weight: normal;
  
}

#articulo-grilla-elegido{
  background-color: #FBCCD2;
 
}

.articulo-grilla {
  background-color: #FBCCD2;
 
}

.table-grilla-input {
  position: relative;
  
}

.table-grilla-input input {
  width: 40px; /* Ajusta el ancho según tus necesidades */
  text-align: center;
  
}

.grillas-container-resumen{
display: flex;
flex-wrap: wrap;

}

.table-grilla-resumen {
  margin: 1.3rem;
  border-collapse: collapse;
  
}


.table-grilla-resumen th  {
  border: 1px solid #000;
  padding: 4px;
  text-align: center;
  font-weight: normal;
  
}

.table-grilla-resumen td {
  border: 1px solid #000;
  padding: 4px;
  text-align: center;
  font-weight: normal;
  
}


.grilla-NoDatos {
  justify-content: center;
  margin: 5rem;
  
}

.talles-agregados {
  display: inline-block;
  list-style: none;
  font-weight:bold ;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.2rem;
  background-color: #F0F0F0;

}

.boton-eliminar-agregarProducto {
  background-color: #F0F0F0; 
  color: #000000; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; 
}



/* LOGIN */

.contenedor-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem; 
  height: 100vh;
}

.iniciar-sesion-titulo{
  background-color: #FBCCD2;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 330px;
  text-align: center;
}

.usuario{
  margin-top: 1rem;

}

.usuario,
.password{
  border: 1px solid #000;
  border-radius: 0.5rem;
  text-align: center; 
}


.usuario,
.password {
  width: 330px; 
}

.usuario-input{
  margin: 0.5rem;
  padding: 0.5rem;
  margin-left: 2rem;
}


.password-input {
  margin: 0.5rem;
  padding: 0.5rem;
  
}

.iniciar-sesion-boton {
  background-color: #FBCCD2;
  border: 1px solid #000;
  border-radius: 0.5rem;
  text-align: center; 
  width: 120px; 
}

.mantenimiento-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 

}
.mantenimiento-content {
  text-align: center;
} 