.imgContianer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;    
    padding-inline: 1.5rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.imgItem {
    text-align: center;
}

.imgGaleria {
    max-width: 75rem; /* Ajusta el ancho máximo según tus necesidades */
    max-height: 60rem; /* Ajusta la altura máxima según tus necesidades */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; /* Elimina cualquier margen adicional */
}